<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for @employee, url: clock_time_index_path do |f| %>
        <div class="col-md-8">
          <%= f.text_field :pin, {:placeholder => t("employee.enter_pin"), class:"form-control"}%>
        </div>
        <div class="col-md-4">
          <%= f.submit "Search", class: "btn btn-block btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to t('employee.new'), new_employee_path %>
</div>
